/veri/*
!/veri/.htaccess
!/veri/index.php
!/veri/.gitkeep
!/veri/onbellek/
/veri/onbellek/*
!/veri/onbellek/.gitkeep
!/veri/oturumlar/
/veri/oturumlar/*
!/veri/oturumlar/.gitkeep
/yuklemeler/*
!/yuklemeler/.htaccess
!/yuklemeler/index.php
!/yuklemeler/.gitkeep
.DS_Store
/.idea
/.vscode
/cikti/
*.zip
*.sha256
/vendor/
/node_modules/
*.log
.env
Thumbs.db
